[submodule "path/to/InsuranceManagementSystem"]
	path = path/to/InsuranceManagementSystem
	url = https://github.com/Niketana29/InsuranceManagementSystem.git
[submodule "path/to/TransportManagementSystem"]
	path = path/to/TransportManagementSystem
	url = https://github.com/Niketana29/TransportManagementSystem.git
[submodule "path/to/TicketBookingSystem"]
	path = path/to/TicketBookingSystem
	url = https://github.com/Niketana29/TicketBookingSystem.git
[submodule "path/to/CarRentalSystem"]
	path = path/to/CarRentalSystem
	url = https://github.com/Niketana29/CarRentalSystem.git
[submodule "CarRentalSystem"]
	path = CarRentalSystem
	url = https://github.com/Niketana29/CarRentalSystem
[submodule "InsuranceManagementSystem"]
	path = InsuranceManagementSystem
	url = https://github.com/Niketana29/InsuranceManagementSystem
[submodule "TicketBookingSystem"]
	path = TicketBookingSystem
	url = https://github.com/Niketana29/TicketBookingSystem
[submodule "TransportManagementSystem"]
	path = TransportManagementSystem
	url = https://github.com/Niketana29/TransportManagementSystem
