[submodule "TicketBookingSystem"]
	path = TicketBookingSystem
	url = https://github.com/Niketana29/TicketBookingSystem.git
[submodule "TransportManagementSystem"]
	path = TransportManagementSystem
	url = https://github.com/Niketana29/TransportManagementSystem.git
[submodule "CarRentalSystem"]
	path = CarRentalSystem
	url = https://github.com/Niketana29/CarRentalSystem.git
